# Visual Studio files
# .gitignore para .NET
bin/
obj/
GestorDeTareasMelbar/obj/
GestorDeTareasMelbar/bin/
.vs/
TestResults/
*.user
*.suo
*.log
packages/
node_modules/
appsettings.Development.json
secrets.json